<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>DoWhile</title>

    <script src="/scripts/script.js" defer type="module"></script>

</head>
<body>
    <main>
        <div class="container">
        
            <div class="avatar">
                <span>
                    <img src="images/build.svg" alt="Selo rocketseat">
                </span>
                <img id="userImage" src="images/perfil.jpeg" alt="Foto pessoal">
            </div>

            <h1 id="userName">Vinicius Perazza</h1>

            <a id="userLink" href="https://github.com/Muvias" target="_blank">
                <img src="images/github.svg" alt="Ãcone github">
                <span id="userLogin">Muvias</span>
            </a>

            <p>Novice developer with a thirst for knowledge. Despite the lack of experience, welcome.</p>
            
            <ul id="socialLinks">

                <li id="linkedin" class="list">
                    <a href="https://www.linkedin.com/in/vinicius-perazza-martins" target="_blank">
                        <span class="icon"><img src="images/linkedin.svg" alt="Linkedin pessoal"></span>
                        <span class="text">Linkedin</span>
                    </a>
                </li>

                <li id="instagram" class="list">
                    <a href="https://www.instagram.com/perazzamrb/" target="_blank">
                        <span class="icon"><img src="images/instagram.svg" alt="Instagram pessoal"></span>                        
                        <span class="text">Instagram</span>
                    </a>
                </li>

                <li id="facebook" class="list">
                    <a href="https://www.facebook.com/vinicius.perazza.1/" target="_blank">
                        <span class="icon"><img src="images/facebook.svg" alt="Facebook pessoal"></span>                        
                        <span class="text">Facebook</span>
                    </a>
                </li>

                <li id="twitter" class="list">
                    <a href="https://twitter.com/Perazzamrb" target="_blank">
                        <span class="icon"><img src="images/twitter.svg" alt="Twitter pessoal"></span>                        
                        <span class="text">Twitter</span>
                    </a>
                </li>

            </ul>

        </div>
    </main>

</body>
</html>